@page
@model RegisterModel
@using Rocky_Utility

@if (User.IsInRole(Rocky_Utility.WC.AdminRole))
{
    <h1>Регистрация нового админа</h1>
}
else
{
    <h1>Регистрация</h1>
}

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Создание нового пользователя</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="Input.FullName">ФИО </label>
                <input asp-for="Input.FullName" class="form-control" />
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <label asp-for="Input.PhoneNumber">Номер телефона</label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <label asp-for="Input.Email">Почта</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Input.Password">Пароль</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Input.ConfirmPassword">Подтверждение пароля</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @if (User.IsInRole(WC.AdminRole))
            {
                <button type="submit" class="btn btn-warning mt-3">Регистрация админа</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary mt-3">Регистрация</button>
            }

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
